
<h1>Sauvgarder De Donner</h1>
<!-- BEGIN switch_backup -->
 <div class="deposit">
	<form action = "dump.php" method = POST>
        <fieldset class="a">
		
		
                <label class="client"for="scid">Telecharger le Base:</label> 
        </fieldset>
        <fieldset class="b">
            	<input type = "submit" value = "" name = "Submit" id="Submit" class="add" />
        </fieldset>		
	</form>
    <script type="text/javascript">
			// <![CDATA[
				window.setTimeout('PMA_focusInput("client","zone")', 500);
			// ]]>
	</script>
     </div>
<!-- END switch_backup -->
