            </div>
            <div id="bottom"> </div>
            <div id="footer">
              <div>
                  <img src="templates/square/img/logo_DTR.png"alt="DTR Atacora-Donga" />
                  <img src="templates/square/img/logo_sep.png"alt="|" />
                  <img src="templates/square/img/logo_pc.png"alt="Peace Corps Benin" />
              </div>
            </div>
        </div>
            <script type="text/javascript">
                <!--
                var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", "");
                //-->
            </script>
    </body>
</html>