<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Epargne Planifiee::SqlSaver1.0</title>
		<meta http-equiv="Content-Language" content="English" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="templates/square/style.css" media="screen" />
    	<script type="text/javascript"  src="templates/square/scripts.js"></script>
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<h1><a href="#">Epargne Planifiee</a></h1>
				<h2>SqlSaver1.0, Page D'aceuille</h2>
			</div>
		</div>
		<hr />
		<div id="wrap">
			<div id="login_t"> </div>
			<div id="login_c">
			<form action = "index.php" method = POST>
				<fieldset>
					<!-- BEGIN switch_login_fails -->
					<legend>  
					Incorrect
					</legend>
					<!-- END switch_login_fails -->
					<label for="log">Utilisateur</label>
					<input tabindex="11"type="text" name="log" id="log" value="" />
                    <br/>
                    <br/>
					<label for="pass">Mot de Passe</label>
					<input tabindex="12"type ="password" name = "pass" id="pass" value="" />
				</fieldset>
				<fieldset>
					<input type = "submit" value = "Valider" name = "login" id="submit" class="login">
				</fieldset>
			</form>
            <script type="text/javascript">
			// <![CDATA[
				window.setTimeout('PMA_focusInput("log","pass")', 500);
			// ]]>
			</script>
            </div>
			<div id="login_b"> </div>
			<div id="footer">
				<div>
                    <img src="templates/square/img/logo_DTR.png"alt="DTR Atacora-Donga" />
                    <img src="templates/square/img/logo_sep.png"alt="|" />
                    <img src="templates/square/img/logo_pc.png"alt="Peace Corps Benin" />
				</div>
			</div>
		</div>
	</body>
</html>