    <div class="left"> 
        <div class="welcome">
            <p>Bienvenu dans la page d'acueil Epargne Planifier.</p>
            <p>Veuillez choisir un des liens en haut pour vous rediriger a votre travail.</p>
            
		</div>
		<p>Vous pouvez revenir sure cet page en clicant le lien Epargne.</p>        
			<div id="header">
		        <h1><a href="index.php">Epargne Planifi&eacute;e</a></h1>
		        <h2>SqlSaver1.0, {TITLE}</h2>
			</div>
		
		
    </div>
	
	
    <div style="clear: both;"> </div>