<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <title>Epargne Planifiee::SqlSaver1.0</title>
		<link 	type="image/x-icon" 	rel="icon" 							href="../templates/square/img/ico/coins.png" />
		<link 	type="image/x-icon" 	rel="shortcut icon" 				href="../templates/square/img/ico/coins.png"  />
	    <link 	type="text/css" 		rel="stylesheet" 	media="screen" 	href="../templates/square/style.css"/>
	    <link 	type="text/css" 		rel="stylesheet" 	media="screen" 	href="../templates/square/Menu.css"/>
		<link 	type="text/css" 		rel="stylesheet"	media="print" 	href="../templates/square/print.css" />
	<!--[if IE 7]>
	    <link 	type="text/css" 		rel="stylesheet"	media="screen" 	href="../templates/square/ie.css" />
	<![endif]-->
	<!--[if lte IE 6]>
	    <link 	type="text/css" 		rel="stylesheet"	media="screen" 	href="../templates/square/ie.css" />
	<![endif]-->
	<!--[if lt IE 6]>
	    	<link 	type="text/css" 		rel="stylesheet"	media="screen" 	href="../templates/square/ie.css" />
	<![endif]-->
	    <script type="text/javascript"  src="../templates/square/Menu.js"></script>
	    <script type="text/javascript"  src="../templates/square/scripts.js"></script>
	</head>
	<body>
	    <div id="wrap">
	      <div id="header">
	        <h1><a href="index.php">Epargne Planifiée</a></h1>
	        <h2>SqlSaver1.0, Page D'aceuille</h2>
	      </div>
	    </div>
	    <hr />
	    <div id="wrap">
			<div id="top"> </div>
		    <div id="content">
				<h1>Bienvenu dans l'installation</h1>
				<div class="notice">
					<h4>Cette installation supose que vous n'avez pas de base installer. Si vous avez retrouver cette page en erreur retourner ou chercher de l'aide avant de continuer...</h4>
				</div>
				<div class="upload">
					<form name="form1" enctype="multipart/form-data" method="post" action="">
					    <fieldset id="a">
					        <label for="excel">Selectioner un document excel a telecharger</label>
					        <input type="file" name="excel" id="excel" />
						</fieldset>
						<h6 align="center">Ou</h6>
						<fieldset id="a">
					        <label for="sql">Selectioner votre document sql</label>
					        <input type="file" name="sql" id="excel" />
					    </fieldset>
					    <fieldset id="b">
					    	<input align="middle" name="submit" type="submit" value="Valider" />
					    </fieldset>
					</form>
				</div>
		    </div>
		    <div id="bottom"> </div>
			<div id="footer">
				<div>
					<img src="../templates/square/img/logo_DTR.png"alt="DTR Atacora-Donga" />
					<img src="../templates/square/img/logo_sep.png"alt="|" />
					<img src="../templates/square/img/logo_pc.png"alt="Peace Corps Benin" />
				</div>
			</div>
	    </div>
		<script type="text/javascript">
			<!--
			var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", "");
			//-->
		</script>
    </body>
</html>