<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Epargne Planifiee::SqlSaver1.0</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="tables.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<h1><a href="#">Epargne Planifiee</a></h1>
<h2>SqlSaver1.0, Page D'aceuille</h2>
</div>
</div>
<hr />
<div id="wrap">
		<div class="dropdown">
			<div class="left_edge">&nbsp;</div>
            <div class="mid">
            	<ul class="Menu">
                    <li>
                        <a class="MenuItem" href="logout.php" tabindex="0">Transactions</a>
                    </li>
                    <li>
                        <a class="MenuItem" href="logout.php" tabindex="0">Donn&eacute;es Client&egrave;le</a>  	
                    </li>
                    <li>
                        <a class="MenuItem"  href="logout.php" tabindex="0">Gestion des Comptes</a>	
                    </li>
                    <li >
                        <a class="MenuItemLast" href="logout.php" tabindex="0" >Fermer le session</a>
                    </li>
                </ul>
            </div>
        	<div class="right_edge">&nbsp;</div>
		</div>

<div id="top"> </div>
<div id="content">
    <div class="left"> 
        <div class="welcome">
            <p>Bienvenu dans la page d'acueil Epargne Planifier.</p>
            <p>Veuillez choisir un des liens en haut pour vous rediriger a votre travail.</p>
        </div>
    </div>
    <div style="clear: both;"> </div>
</div>

<div id="bottom"> </div>
<div id="footer">
          <div>
              <img src="img/logo_DTR.png"alt="DTR Atacora-Donga" />
              <img src="img/logo_sep.png"alt="|" />
              <img src="img/logo_pc.png"alt="Peace Corps Benin" />
          </div>
		</div>
</div>

</body>
</html>